<div class="container my-4" >

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover no-footer icon-fixed-width">
      <thead>
        <tr>
          <th>Email</th>
          <th>User Name</th>
          <th>Address</th>
          <th>Contact</th>
          <th>Document ID</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user[:Email] %></td>
          <td><%= user[:UserName] %></td>
          <td><%= user[:Address] %></td>
          <td><%= user[:Contact] %></td>
          <td><%= user.document_id %></td>
          <td class="text-center">
            <%#= link_to 'Delete', { controller: users_path, action: :destroy, id: user.document_id }, method: :delete, class: 'btn btn-danger me-3' %>
            <%= link_to(user_path(user.document_id)) do %>
              <i class="bi bi-clipboard-data-fill"></i>
            <% end %>

          </td>
        </tr>
      <% end %>

      </tbody>
    </table>
  </div>
</div>
