
<div class="container m-5">

  <h1>User's Details</h1>

    <div class="card mt-4" style="width: 24rem;">
      <div class="card-header">
        Current User
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Name: <%= @user[:UserName]%></li>
        <li class="list-group-item">Email: <%= @user[:Email] %></li>
        <li class="list-group-item">Address: <%= @user[:Address] %></li>
        <li class="list-group-item">Contact: <%= @user[:Contact] %></li>
        <li class="list-group-item">ID: <%= @user.document_id %></li>
      </ul>
    </div>

  <%= link_to 'Delete', { controller: users_path, action: :destroy, id: @user.document_id }, method: :delete, class: 'btn btn-danger my-5' %>
</div>