<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Patient Reports Digitization</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if admin_signed_in? %>


          <li class="nav-item active">
            <%= link_to 'Home', root_path, class: "nav-link #{active_class root_path}" %>
          </li>

          <li>
            <%= link_to '<i class="bi bi-wallet"></i> All Users'.html_safe, users_path, class: "nav-link #{active_class users_path}" %>
          </li>


        <% end %>

        <% if doctor_signed_in? && is_reports_path %>
          
        <% end %>

        <% unless admin_signed_in? || doctor_signed_in? %>
          <%= link_to 'Sign In as Doctor', new_doctor_session_path, class: "nav-link  #{active_class new_doctor_session_path}" %>
        <% end %>
      </ul>

      <form class="d-flex">

        <% if doctor_signed_in? %>
          <div class="form-control btn btn-danger me-2">
            <%= link_to '<i class="bi bi-box-arrow-right"></i> Sign out'.html_safe, destroy_doctor_session_path, method: :delete, class: "nav-link" %>
          </div>
        <% end %>


        <% if admin_signed_in? %>
          <div class="form-control btn btn-danger me-2">
            <%= link_to '<i class="bi bi-box-arrow-right"></i> Sign out'.html_safe, destroy_admin_session_path, method: :delete, class: "nav-link" %>
          </div>
        <% end %>

      </form>


    </div>
  </div>
  </body>
</nav>


