<div class="container p-5">
  <div class="row">
    <div class="col-lg-4">
      <h5>Patient's Details</h5>
      <div class="card mt-4">
        <div class="card-header">
          <%= @user[:userName] %>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Email: <%= @user[:email] %></li>
          <li class="list-group-item">Address: <%= @user[:address] %></li>
          <li class="list-group-item">Contact: <%= @user[:contact] %></li>
          <li class="list-group-item">ID: <%= @user.document_id %></li>
        </ul>
      </div>

      <h5 class="my-4">Categories</h5>
      <% @categories.each do |category| %>
        <%= link_to "/reports/#{params[:patient_id]}/#{category[:name]}", class: 'd-flex btn btn-outline-dark my-3 p-2' do %>
          <i class="bi bi-folder" style="color: goldenrod"></i>
          <div class="ms-3"><%= category[:name] %></div>
        <% end %>
      <% end %>

    </div>

    <div class="col-lg-8">
      <h5 class=" mb-4"><%= params[:category].pluralize %></h5>
      <div class="border rounded p-2">
        <% @reports.each do |report| %>
          <% @count += 1 %>
          <div class="border border-dark rounded my-3">
            <img src="<%= report[:downloadUrl] %>" class="img-fluid rounded" alt="Report" width="100%">
            <br>
            <h6 class="px-3 pt-3">Category</h6>
            <p class="px-3 pb-3" style="white-space: pre"><%= report[:category] %></p>
          </div>
        <% end %>
        <%= @count == 0 ? 'No Report For This User' : '' %>
      </div>
    </div>
  </div>

</div>